*.o
*.obj
*.la
*.lo
*.loT
*.Plo
*.lib
*.so
*.so.*
*.a
*.core
*~
#~
*.moc
*.log
*.status
semantic.cache
Makefile
Makefile.in
configure
config.*
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
aclocal.m4
.libs
.deps
autom4te.cache
stamp-h1
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
.git
.svn
.project
.cproject
.settings
